*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, rgb(0, 119, 255), white);
    font-family: 'nunito';
}

.container{
    width: 100%;
    height: auto;
}

.container h1{
    text-align: center;
    font-weight: 600;
}
.container .nombre{
    display: block;
    margin: 10px auto;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 5px;
}

.container-card{
    width: 70%;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 10px #333;
    background-image: linear-gradient(-45deg, rgb(255, 251, 0), rgb(255, 0, 0));    position: relative;
    border-radius: 20px;
}

.container-card .number{
    text-align: center;
    font-size: 15rem;
    margin: 30px 0;
}


.container .search{
    display: block;
    margin: 10px auto;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
.container .restart{
    display: block;
    margin: 10px auto;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

.number.nope{
    color: red;
}
.number.yes{
    color: green;
}

.txt-indice{
    text-align: center;
    color: #333;
}
.nb-chance{
    text-align: center;
    color: #333;
}

.btn-accueil{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 5%;
    right: 5%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
    animation: pulse 1.3s infinite;
    z-index: 100;

}

@keyframes pulse {
    to
    {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
    }
}


.btn-accueil .accueil{
    width: 100%;
    height: 100%;
    padding: 0 5px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    line-height: 65px;
}